<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Message Board</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <% JSON.stringify(messages) %>
    <% if(messages.error) { %>
      <div class="alert alert-danger">
      <% for (var x of messages.error) { %>
        <h6 align="center" style="color:red;"><%= x %></h6>
      </div>
      <% } %>
    <% } %>
  <!-- End Flash messages -->
<center>
    <div class="container" style="margin-top: 20px;">
        <form align="center" action="/logout" method="post">
          <p><input type="submit" class="btn btn-lg btn-danger" value="Logout"></p>
        </form>
  <h1>Message Board!</h1>
  <hr>
  <br>
  <h3>Add A Message below!</h3>
    <form action="/message" method="POST">
      <p>Message: <textarea name="message_content"></textarea></p>
      <button class="btn btn-success">Post Message</button>
    </form>
    <hr>
    <div class="border">
    <% for(var i=0; i<messages.length; i++) { %>
      <!-- <h4>Name: <%= messages[i].name %></h4> -->
      <h4>Message: <%= messages[i].message_content %></h4>
          <% for(var j=0; j<messages[i].comments.length; j++) { %>
          <p>&emsp;Name: <%= messages[i].comments[j].name %></p>
          <p>&emsp;Comment ID: <%= messages[i].comments[j]._id %></p>
          <p>&emsp;Comment: <%= messages[i].comments[j].comment_content %></p>
      <% } %>
      <hr>
      <form action="/comment" method="POST">
          <input type="hidden" name="message_id" value="<%= messages[i]._id %>">
          <p>&emsp;Comment: <textarea name="comment_content"></textarea></p>
          <!-- <p>&emsp;<input type="submit" value="Post comment"></p> -->
          <button class="btn btn-success">Post comment</button>
      </form>
      <hr>
    <% } %>
  </div>
</div>
  </center>
  </body>
</html>